VITE_API_BASE_URL=http://localhost:8000/api
VITE_MEDIA_BASE_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
VITE_ADSTERRA_BANNER_KEY=
VITE_ADSTERRA_BANNER_SRC=
VITE_ADSTERRA_BANNER_WIDTH=300
VITE_ADSTERRA_BANNER_HEIGHT=250
VITE_ADSTERRA_BANNER_FORMAT=iframe
