.movie-grid-section {
  padding: 0;
}

.movie-grid-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  width: 100%;
}




/* Tablet */
@media (min-width: 641px) and (max-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
